.ProfileContainer {
  margin: auto;
  /* border: 1px solid purple; */
  width: 80vh;
}
.userContainer {
  margin: auto;
  /* border: 1px solid purple; */
  display: flex;
  justify-content: center;

}


.petsContainer {
  margin: auto;
  margin: 1em;
  /* border: 1px solid purple; */

}

.CenteredContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid purple; */
  margin: 1em;
}

.CenteredContainerNoMargin{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid purple; */
  margin: 0em;
}


.petCard {
  /* margin: auto; */
  margin: 1em;
  /* border: 1px solid purple; */
}

.bottonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.petCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid purple; */
}

.imgContainer {
  margin: 1em;
}

.infoContainer {
  margin: 1em;
}
