@import url('https://fonts.googleapis.com/css?family=Coiny|Fredoka+One|Titan+One&display=swap');


.welcome {
  font-family: 'Coiny', cursive;
  font-size: 55px;
  color: rgb(92, 57, 185);
}

.login {
  font-family: 'Coiny', cursive;
  font-size: 40px;
  color: rgb(92, 57, 185);
}

.mainContainer {
  margin: 5em;
}

.CenteredContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid purple; */
}
